@model The_NewYork_Time.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Layout.cshtml";
}



@using (Html.BeginForm("Edit", "CategoriesAdmin", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2 class="admin-title">Edit Category</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.categoryname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.categoryname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.categoryname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idsection, "idsection", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idsection", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idsection, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-10">
        <div class="col-md-offset-2 btn-touch">
            <input type="submit" value="Save" class="btn btn-warning" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
}

