@model IEnumerable<The_NewYork_Time.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_MainLayoutAdmin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Manage Articles</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div style="margin-left: 50px" class="table-responsive">
            <table class="table table-bordered" id="dataTable" style="width:500px ; margin-left: -10px" cellspacing="0">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Cetegory.categoryname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.articlename)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.image1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.image2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.image3)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.image4a)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.image4b)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.image5)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.content1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.content2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.content3)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.content4)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.content5)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.date)
                        </th>

                        <th style="text-align: center">Tùy chọn</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cetegory.categoryname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.articlename)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.image1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.image2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.image3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.image4a)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.image4b)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.image5)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.content1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.content2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.content3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.content4)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.content5)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.author)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.idarticle }) |
                                @Html.ActionLink("Details", "Details", new { id = item.idarticle }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.idarticle })
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
</div>
