@model The_NewYork_Time.Models.Section

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Layout.cshtml";
}



<div  class="max">
    <h2 class="admin-title">Details Section</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idsection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idsection)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sectionname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sectionname)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idsection }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
