@model IEnumerable<The_NewYork_Time.Models.Section>

@{
    ViewBag.Title = "Home Page";
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    
    <div class="container">
        <div class="d-flex flex-column p-1">

            <!-- HEADER -->

            <nav id="navbar" class="row">
                <!-- category list in js/index.js -->
                <ul id="header-navbar" class="nav justify-content-around">
                    @foreach (var item in Model)
                    {
                        <li><a href="/Home/Section/@item.idsection" style="text-decoration:none;color:#333"> @Html.DisplayFor(modelItem => item.sectionname)</a></li>

                    }
                    @*@foreach (var item in Model)

                        {
                            <li><a href=""> @Html.DisplayFor(modelItem => item.sectionname)</a></li>
                        }*@

                </ul>
            </nav>
            <!-- END HEADER -->
            <!-- BODY -->
            <main>
                <!-- tab currently mini showing -->
                <div class="container-fluid">

                    <div class="row minishow-tab">
                        @*<div class=" col-sm ">
                                <div class="row">
                                    <div class=" col-2 ">
                                        <a href="#"><img class="img-tab " src="https://static01.nyt.com/images/2021/07/01/multimedia/01ambriefing-aus-nl-PROMO3/01ambriefing-aus-nl-PROMO3-square640-v2.png?quality=75&auto=webp&disable=upscale&width=350" alt=""></a>
                                    </div>
                                    <div class="col-10 content-tab">
                                        <h2 class="title-tab"><a class="text-decoration-none" href="">/ Title tab /</a></h2>
                                        <a class="des-tab">/ this is 1 line describe the title /</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm ">
                                <div class="row ">
                                    <div class=" col-2  ">
                                        <a href="#"><img class="img-tab " src="https://static01.nyt.com/images/2021/07/01/multimedia/01ambriefing-aus-nl-PROMO3/01ambriefing-aus-nl-PROMO3-square640-v2.png?quality=75&auto=webp&disable=upscale&width=350" alt=""></a>
                                    </div>
                                    <div class="col-10 content-tab">
                                        <h2 class="title-tab"><a class="text-decoration-none" href="">/ Title tab /</a></h2>
                                        <a class="des-tab">/ this is 1 line describe the title /</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm ">
                                <div class="row ">
                                    <div class=" col-2 ">
                                        <a href="#"><img class="img-tab " src="https://static01.nyt.com/images/2021/07/01/multimedia/01ambriefing-aus-nl-PROMO3/01ambriefing-aus-nl-PROMO3-square640-v2.png?quality=75&auto=webp&disable=upscale&width=350" alt=""></a>
                                    </div>
                                    <div class="col-10 content-tab">
                                        <h2 class="title-tab"><a class="text-decoration-none" href="">/ Title tab /</a></h2>
                                        <a class="des-tab">/ this is 1 line describe the title /</a>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>

                <!-- end: Minishow tab -->
                <!-- breaking news layout -->
                <div class="container-fluid">
                    <div class="row breaking-news">
                        @Html.Partial("_1stNewArticleHome", The_NewYork_Time.Models.BUS.ArticleBUS.DanhsachArticleLastestIndex())
                        @*<div class="col-sm-2 paper-border-left">
                                <div class="paper ">
                                    <div class="paper-body">
                                        <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                        <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <!-- end: breaking new layout -->
                    <!-- other-news -->
                    @Html.Partial("_4ArticleRandomInHome", The_NewYork_Time.Models.BUS.ArticleBUS.ShowArticleRandomHome())
                    <!-- end: other-news -->
                    <!-- menu news -->
                    <div class="container-fluid  ">
                        <div class="row ">
                            <!-- Left side -->
                            <div class="col-md-8 bg-light" style="border-right: 1px solid #757575;">
                                <div class="row paper-border-top">
                                    @Html.Partial("_2ndNewArticleHome", The_NewYork_Time.Models.BUS.ArticleBUS.Show2ndArticleHome())
                                    <!-- 1 paper -->
                                    @Html.Partial("_3rdNewArticleHome", The_NewYork_Time.Models.BUS.ArticleBUS.Show3rdArticleHome())
                                </div>

                                <!-- other news replay -->
                                @Html.Partial("_SectionLe", The_NewYork_Time.Models.BUS.SectionBUS.SectionLe())

                                <!-- triple layout -->
                                @*<div class="row paper-border-top-light">
                                        <div class="col-md">
                                            <div class="paper ">
                                                <div class="paper-body">


                                                </div>
                                            </div>
                                        </div>

                                    </div>*@


                                <!--<div class="row paper-border-top">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="paper">
                                                    <div class="paper-body ">
                                                        <h5 class="title-paper "><a class="text-decoration-none text-dark" href="">Trump Organization and Top Executive Are Indicted in Tax Investigation</a></h5>
                                                        <ul class="paper-list-abstract">
                                                            <li class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <a href=""><div class="box" style="width: 100%;"></div></a>
                                                <p class="caption-picture"><a class="text-decoration-none text-dark" href="">Allen Weisselberg, center, arriving in court to face charges of receiving fringe benefits without paying taxes on them. Jefferson Siegel for The New York Times</a></p>
                                            </div>
                                        </div>
                                    </div>-->
                                <!-- only one layout -->
                                <!--<div class="col-4 paper-border-left">
                                        <div class="paper ">
                                            <div class="paper-body">
                                                <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- double layout  -->
                                <!--<div class="row paper-border-top-light">
                                    <div class="col-md">
                                        <div class="paper ">
                                            <div class="paper-body">
                                                <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md paper-border-left">
                                        <div class="paper">
                                            <div class="paper-body">
                                                <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- the Great Read  -->
                                <!--<div class="row ">
                                    <h5 class="paper-border-top" style="font-size: 1rem;"><a class="text-decoration-none text-dark" href="#">The Great Read </a></h5>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <div class="paper ">
                                            <div class="paper-body">
                                                <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="box" style="min-width: 100%; max-height: 100%;"></div>
                                    </div>
                                </div>
                                <div class="row paper-border-top-light">
                                    <div class="col-md">
                                        <div class="paper ">
                                            <div class="paper-body">
                                                <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="box" style="min-width: 100%; max-height: 100%;"></div>
                                    </div>
                                </div>

                                <div class="row paper-border-top-light">
                                    <div class="col-md">
                                        <div class="paper ">
                                            <div class="paper-body">
                                                <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md paper-border-left">
                                        <div class="paper">
                                            <div class="paper-body">
                                                <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row paper-border-top">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="paper">
                                                    <div class="paper-body ">
                                                        <h5 class="title-paper "><a class="text-decoration-none text-dark" href="">Trump Organization and Top Executive Are Indicted in Tax Investigation</a></h5>
                                                        <ul class="paper-list-abstract">
                                                            <li class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <a href=""><div class="box" style="width: 100%;"></div></a>
                                                <p class="caption-picture"><a class="text-decoration-none text-dark" href="">Allen Weisselberg, center, arriving in court to face charges of receiving fringe benefits without paying taxes on them. Jefferson Siegel for The New York Times</a></p>
                                            </div>
                                        </div>
                                    </div>-->
                                <!-- only one layout -->
                                <!--<div class="col-4 paper-border-left">
                                        <div class="paper ">
                                            <div class="paper-body">
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Allen Weisselberg, center, arriving in court to face charges of receiving fringe benefits without paying taxes on them. Jefferson Siegel for The New York Times</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row paper-border-top-light">
                                    <div class="col-md">
                                        <div class="paper ">
                                            <div class="paper-body">
                                                <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md paper-border-left">
                                        <div class="paper">
                                            <div class="paper-body">
                                                <h5 class="title-paper"><a class="text-decoration-none text-dark" href="">House Opens Jan. 6 Investigation Over Republican Opposition</a></h5>
                                                <p class="paper-item-abstract"><a class="text-decoration-none text-black-50" href="#">Lawyers for Mr. Trump’s family business and its chief financial officer, Allen Weisselberg, are expected to appear in court on Thursday.</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->


                            </div>




                            <!-- end: left side -->
                            <!-- Right side -->

                            <div class="col-md-4 paper-border-top bg-light paper-border-left">
                                <!-- opinion stage -->
                                <div class="row ">
                                    <h5 class="title-paper" style="font-size: 1rem;"><a class="text-decoration-none text-dark" href="#">Opinion</a></h5>
                                </div>
                                @Html.Partial("_Sectionchan", The_NewYork_Time.Models.BUS.SectionBUS.Sectionchan())

                                <!-- end: opinion stage -->
                                <!-- end: editors's Picks stage -->
                            </div>
                            <!-- end: right side -->


                        </div>
                    </div>
                </div>
                <!-- end:menu news -->

            </main>
            <!-- END BODY -->



        </div>
    </div>

</body>
