@model TNYT.AspNetUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Layout.cshtml";
}



<div class="form">
    <h2 class="admin-title">Details User</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd style="width: 10px">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
    <div class=" col-md-12 back-to-list">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </div>
    <div class=" col-md-12 back-to-list">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

