@model IEnumerable<TNYT.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Layout.cshtml";
}




<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        @Html.Partial("_NavAdmin")
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">User</h1>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th> Option</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.EmailConfirmed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PasswordHash)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SecurityStamp)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LockoutEnabled)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccessFailedCount)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>



