@model The_NewYork_Time.Models.Category


@*<div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Section.sectionname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Section.sectionname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.categoryname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.categoryname)
            </dd>

        </dl>
    </div>*@

<main>
    <!-- Section header -->
    <header id="section-header">
        <div class="section-world">
            <a href="/Home/Section/@Model.idsection" class="section-header-link">
                <p> @Html.DisplayFor(model => model.Section.sectionname)</p>
            </a>
        </div>
        <div class="section-title">
            <h1> @Html.DisplayFor(model => model.categoryname)</h1>
        </div>
    </header>
    <!-- End Section Header -->
    <!-- Section Latest -->
     @Html.Partial("_ArticleTheoCate", The_NewYork_Time.Models.BUS.ArticleBUS.DanhSachArticleTheoCate(Model.idcategory))
    <!-- End Section Latest -->
</main>
<script>
    tab()
</script>

