@using The_NewYork_Time.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <section>
            <p class="register-title">Log in account</p>
            <div class="container">
                <div class="login-form">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="input-box edit">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label login-text" })
                            @Html.TextBoxFor(m => m.Email, new { @id = "email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger login-text" })



                        </div>


                        <div class="input-box inp-pass">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label login-text" })
                            @Html.PasswordFor(m => m.Password, new { @id = "password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger login-text" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe , new { @class= "login-text" })
                                </div>
                            </div>
                        </div>
                        <div class="input-box button-box">
                            <button type="submit" id="continue" class="btn-login">Login</button>
                        </div>
                        <div class="lineor">
                            <span class="login-text">or</span>
                        </div>

                        <div class="input-box button-box">
                            <a href="/Account/Register" class="register">Register</a>
                            
                        </div>

                    }

                    <div class="access">


                        <div class="service">
                            <p class="login-text">
                                By continuing, you agree to the <a href="">Terms of Service</a> and acknowledge our <a href="">Privacy Policy</a> .
                            </p>
                        </div>


                        <!-- <div class="contact">
                            <a href=""><i class="fab fa-google"></i> Continue with Google</a>
                        </div>
                        <div class="contact">
                            <a href=""><i class="fab fa-facebook-square"></i> Continue with Facebook</a>
                        </div>
                        <div class="contact">
                            <a href=""><i class="ti-youtube"></i> Continue with Apple</a>
                        </div> -->

                    </div>

                    @*<div class="agree">
                            <input type="checkbox" name="" id=""> <span> You agree to receive updates and offers from The Times. You may opt out anytime.</span>

                            <p>By creating an account, you agree to the <a href=""> Terms of Service </a>and acknowledge our <a href=""> Privacy Policy</a>.</p>

                        </div>

                        <div class="button-box-agree">
                            <button type="submit" id="continue">Create Account</button>
                        </div>*@

                </div>

            </div>

        </section>
    </div>



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}