@model IEnumerable<The_NewYork_Time.Models.Article>
<div class="col-sm-12">
    <div class="row " style="margin-top:10px;">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 title-center">
                <div class="paper">
                    <div class="paper-body ">
                        <h5 class="title-paper "><a style="font-size:2rem;"  class="text-decoration-none text-dark" href="@Url.Action("Article","Categories" ,new { id =item.Id})">@item.articlename</a></h5>
                        <ul class="paper-list-abstract">
                            <li class="paper-item-abstract"><p class="text-decoration-none text-black-50">@item.description</p></li>
                            
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <a href="@Url.Action("Article","Categories" ,new { id =item.Id})"><img class="carg-img" style=" width: 100%;" src="@item.image" alt=""></a>
                <p class="caption-picture"><a class="text-decoration-none text-dark" href="#">@item.author</a></p>
            </div>
        }

    </div>
</div>