@model IEnumerable<The_NewYork_Time.Models.Article>

<div class="col col-3 col-md5 col-sm12 content-center">
    @foreach(var item in Model)
 {
    <div class="">
        <div class="head-img">
            <a href="/Categories/Article/@item.Id">
                <img src="@item.image" alt="">
            </a>

            <p>@item.author FOR THE NEW YORK TIMES</p>
        </div>
        <div class="head-content">
            <div class="head-title">
                <h2><a href="/Categories/Article/@item.Id">@item.articlename</a></h2>
            </div>
            <div class="head-descrip">
                <p>@item.description</p>
            </div>
            <div class="head-article">
                <span class="minute">
                    15h ago
                </span>
                <span class="space"></span>
                <span class="name-aricle">
                    By @item.author
                </span>
            </div>
        </div>
    </div>
    }
    
</div>
