@model IEnumerable<The_NewYork_Time.Models.Article>
@foreach (var item in Model)
{
    <div class="row paper-border-top-light ">
        <div class="col-sm">
            <div class="paper">
                <div class="paper-body">
                    <p class="paper-item-abstract">
                        <h5 class="title-paper"><a class="text-decoration-none text-dark" href="@Url.Action("Article","Categories" ,new { id =item.Id})">@item.articlename</a></h5>
                        <p class="text-decoration-none text-black-50">@item.description </p>

</div>
            </div>
        </div>
        <div class="col-sm" style="position:relative;">
            <a href="@Url.Action("Article","Categories" ,new { id =item.Id})">
                <img style=" width: 90%; position: absolute; top: 25%;" src="@item.image" alt="Alternate Text" />
            </a>
            
        </div>
    </div>
}
