@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                
                <li><a class="btn login btn-primary px-3 text-uppercase fw-bold" href="/Admin/Manage">Admin Page</a></li>
                <li><a class="btn login btn-primary px-3 text-uppercase fw-bold" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
            </ul>
        }
    }
    else
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li style="padding:4px 12px;">
                    @Html.ActionLink(User.Identity.GetUserName(), "Storage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a class="btn login btn-primary px-3 text-uppercase fw-bold" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
            </ul>
        }
    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" ,@class= "btn login btn-primary px-3 text-uppercase fw-bold" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" ,@class = "btn login btn-primary px-3 text-uppercase fw-bold" })</li>
    </ul>
}
